.cafe_colonial{
    width: 300px;
    padding: 20px;
   align-items: right;
   margin-left: 1500px;
}
.bolos_especiais{
    width: 300px;
    padding: 20px;
   align-items: right;
   margin-left: 1500px;;
}